    html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    // height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    // justify-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
$pColor :aliceblue;
#weather-container{
    width: 100%;
    background:linear-gradient(to right,rgba(122, 160, 122, 0.796),rgb(245, 188, 135)) ;
    border: 2px solid #8186c070;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    .item1{
        grid-column-start:1;
        grid-column-end: 3;
    }
    .item2{
        text-align: center;
        grid-column-start:1;
        grid-column-end: 3;
        #city{
            font-size: 30px;
        }
        p{
            margin: 0;
            padding: 0;
        }
    }
    .item3{
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: center;
        margin-top: 30px;
        #temp{
            font-size: 40px;
            color: $pColor;
        }
        #description{
            font-size: 20px;
            margin-bottom:10px;
            color: $pColor;
        }
        p{
            margin: 0;
            padding: 0;
        }
    }
    .item4{
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: left;
        #wind{
            text-decoration: underline;
            font-size: 30px;
            margin-bottom:10px;
            color: linear-gradient(to right,rgba(226, 21, 21, 0.796),rgba(226, 181, 144, 0.792));
            color:$pColor;
        }
        p{
            margin: 0;
            padding: 0; 
        }
    }
}
#search_container{
    text-align: center;
    #search,#submit{
        margin: 0px;
        padding: 0px;
    }
    #search{
        width:80%;
        height:50px;
        border-width: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    #submit{
        width: 80%;
        height: 30px;
    }
}

