        html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
$pColor :aliceblue;

#weather-container{
    width: 100%;
    background:linear-gradient(to right,rgba(122, 160, 122, 0.796),rgb(245, 188, 135)) ;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .item1{
        grid-column-start:1;
        grid-column-end: 3;
    }
    .item2{
        text-align: center;
        grid-column-start:1;
        grid-column-end: 3;
        #city{
            font-size: 30px;
        }
        p{
            margin: 0;
            padding: 0;
        }
    }
    .item3{
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: center;
        margin-top: 30px;
        margin-left: 0px;
        #temp{
            font-size: 40px;
            color: $pColor;
        }
        #description{
            font-size: 20px;
            margin-bottom:10px;
            color: $pColor;
        }
        p{
            margin: 0;
            padding: 0;
            font-size: 25px;
            font-family: 'Aladin', cursive;
        }
    }
    .item4{
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: center;
        #wind{
            font-size: 30px;
            margin-bottom:10px;
            color:$pColor;
        }
        p{
            margin: 0;
            padding: 0; 
            font-size: 25px;
            font-family: 'Aladin', cursive;
        }
    }
}
#search_container{
    text-align: center;
    #search,#submit{
        margin: 0px;
        padding: 0px;
    }
    #search{
        width:80%;
        height:50px;
        border-width: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }
    #submit{
        width: 80%;
        height: 35px;
        margin-bottom: 20px;
        font-size: 25px;
        font-family: 'Mansalva', cursive;
    }
}


#week-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background:linear-gradient(to right,rgb(245, 188, 135),rgba(122, 160, 122, 0.796));
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    #week-title{
        font-size: 25px;
        text-align: center;
        font-stretch: condensed;
        font-family: 'Monda', sans-serif;
        font-weight: 800;
        color: $pColor;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}