html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#weather-container {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(122, 160, 122, 0.796)), to(#f5bc87));
  background: linear-gradient(to right, rgba(122, 160, 122, 0.796), #f5bc87);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#weather-container .item1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

#weather-container .item2 {
  text-align: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

#weather-container .item2 #city {
  font-size: 30px;
}

#weather-container .item2 p {
  margin: 0;
  padding: 0;
}

#weather-container .item3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  text-align: center;
  margin-top: 30px;
  margin-left: 0px;
}

#weather-container .item3 #temp {
  font-size: 40px;
  color: aliceblue;
}

#weather-container .item3 #description {
  font-size: 20px;
  margin-bottom: 10px;
  color: aliceblue;
}

#weather-container .item3 p {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Aladin', cursive;
}

#weather-container .item4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  text-align: center;
}

#weather-container .item4 #wind {
  font-size: 30px;
  margin-bottom: 10px;
  color: aliceblue;
}

#weather-container .item4 p {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Aladin', cursive;
}

#search_container {
  text-align: center;
}

#search_container #search, #search_container #submit {
  margin: 0px;
  padding: 0px;
}

#search_container #search {
  width: 80%;
  height: 50px;
  border-width: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

#search_container #submit {
  width: 80%;
  height: 35px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Mansalva', cursive;
}

#week-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(#f5bc87), to(rgba(122, 160, 122, 0.796)));
  background: linear-gradient(to right, #f5bc87, rgba(122, 160, 122, 0.796));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

#week-container #week-title {
  font-size: 25px;
  text-align: center;
  font-stretch: condensed;
  font-family: 'Monda', sans-serif;
  font-weight: 800;
  color: aliceblue;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}
/*# sourceMappingURL=style.css.map */