html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-attachment: fixed;
    border: solid 1px black;
}

.item1{
grid-column-start:1;
grid-column-end: 3;
}
.item2{
    text-align: center;
grid-column-start:1;
grid-column-end: 3;
}

.item3{
grid-column-end: 1.5;
}
.item4{
    grid-column-end: 3;
}
.item5{
    /* grid-column-start:1; */
    grid-column-end: 3;
}